* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #9e8eff;
}

#container {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  transform: translate(0, -50%);
}

.imagem-de-perfil {
  border-radius: 50%;
  border: 2px solid black;
}

.cabecalho h1 {
  font-size: 18px;
  font-weight: 600;
}

.cabecalho h2 {
  font-size: 18px;
  font-weight: 500;
}

.btn-link {
  color: rgb(0, 0, 0);
}
