* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #9e8eff;
}

#container {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  transform: translate(0, -50%);
}

.imagem-de-perfil {
  border-radius: 50%;
  border: 2px solid black;
}

.cabecalho {
  margin: 24px 0;
}

.cabecalho h1 {
  font-size: 18px;
  font-weight: 600;
}

.cabecalho h2 {
  font-size: 18px;
  font-weight: 500;
}

.btn-link {
  display: block;
  width: 218px;
  margin-inline: auto;
  margin-bottom: 24px;
  padding: 10px 72px;
  border: 2px solid black;
  color: rgb(0, 0, 0);
  box-shadow: 4px 4px 0px 0px #000;
  border: 2px solid black;
}

.btn-link.insta {
  background: #ff5e5e;
}

.btn-link.tt {
  background: #42c1d6;
}

.btn-link.be {
  background: #42c1d6;
}

.btn-link.em {
  background: #ffb445;
}
